.row, #buttonContainer {
    display: flex;
    justify-content: center;
}

.gridSquare {
    flex: 1 0 auto;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
}

button {
    margin: 10px;
}

body {
    margin: 0;
}